h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 2em;
  min-height: 100svh;
}

.wrapper {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  flex: 1;
}

main {
  flex: 1;
}

aside {
  background-color: rgba(212, 206, 197, 0.63);
} table {
  min-width: 100%; 
} tr td {
  vertical-align: top;
}

.linke_Spalte {
  margin-left: 1em;
  min-width: 450px;
}

.right-text {
  text-align: right;
}