h1 {
  text-align: center;
  margin-bottom: 1em;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.linke_Spalte {
  grid-column: 1;
  display: grid;
  margin-left: 1em;
}

.felder {
  grid-column: 1;
  margin-bottom: 1em;
}

.werte {
  grid-column: 2;
  margin-left: -15em;
}